.container-fluid
  .exploratory-vis

    .row(style='margin-top:150')
      .col-md-10
        h4 Compare the Target Feature Against All Others
        p(style='margin-left:40;margin-top:50;margin-right:50')
          | This portion of the interface explores the target feature against
          | all other features simultaneously. A plot is generated with the target
          | feature values along the Y axis and one of the other features in the
          | dataset on each X axis -- showing whether any features are related
          | to the target feature or not.
        p(style='margin-left:40;margin-top:50;margin-right:50')
          | If the points appear to be randomly arranged, as a cloud of dots,
          | the feature variable is not strongly correlated with the target
          | variable. If the points are visually tightly grouped around some
          | pattern (such as a line or curve), then there is a relationship
          | between the two variables

        p(style='margin-left:40;margin-top:50;margin-right:50')
          | Select the target variable below to generate the plots. Note that the suggested
          | target variable for this problem will have an asterisk next to it in the list.
        .btn-group
          #y-dropdown

    .row(style='margin-top:50')
      .col-md-10
        #scatterplotmatrix


