.container-fluid
  .exploratory-vis
    .row
      .col-md-6
        h4 Bivariate Visualization
        .btn-group
          #x-dropdown
          #y-dropdown

          //-span.dropdown
            //-button.var1.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
            //-ul.dropdown-menu.variable1

          //-span.dropdown
            //-button.var2.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
            //-ul.dropdown-menu.variable2

    .row
      .col-md-6
        #scatterplot
