.container-fluid
  .col-md-6
    .exploratory-vis
      h4 Bivariate Visualization
      #linmodel
        span.dropdown
          button.var1.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
          ul.dropdown-menu.variable1

        span.dropdown
          button.var2.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
          ul.dropdown-menu.variable2

        .vis
