.container-fluid
  .modeling
    .row
      .col-md-6
        h4 Parameters
        .container-fluid
          .row
            .col-md-12
              #modeldropdown

          .row
            .col-md-12
              .model-vars.btn-group

      .col-md-6
        h4 Results
        div
          pre.info.hidden
