.container-fluid
  .modeling
    .row
      .col-md-6
        h4 Parameters
        p(style="margin-left:20;margin-top:50;margin-right:50")
          | Please select the type of model to try and fit to the problem dataset.
          | A "fitted model" means a model that has been configured to 
          | output values as close as possible to the original dataset.  How well
          | this can be performed depends highly on the type of model.  No models
          | are expected to match exactly, but some can be very useful to understand
          | the problem dataset more completely. 
        .container-fluid
          .row
            .col-md-12
              #modeldropdown

          .row
            .col-md-12
              .model-vars.btn-group

      .col-md-6
        h4 Results
        div
          pre.info.hidden
