.container-fluid
  .row.modeling
    .col-md-6
      h4 Parameters
      div
        span.dropdown
          button.model.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Model
          ul.dropdown-menu.model-menu

      div.model-vars

    .col-md-6
      h4 Results
      div
        pre.info.hidden
