.container-fluid
  .row
    .col-md-12

      .newproblem
        h4 Define a new problem, given a selected dataset
        p Select the type of problem that you would like to do.  For example, would you like to find
          | the real value of a particle variable, given that you provide the value of other variables 
          | in the dataset?  This is called 
          b Regression.

        p If instead, you have provided examples of different, discrete "values" a variable can take, and 
          | you want to guess the value, given values for other conditions, this is called 
          b Classification. 

        p Please select the type of investigation you would like to perform:

        #problemtypedropdown

  
