.container-fluid
  .exploratory-vis

    .row(style='margin-top:150')
      .col-md-10
        h4 Investigate Model Output
        p(style='margin-left:40;margin-top:50;margin-right:50')
          | The prediction algorithm returns a set of predicted values, from which we
          | can compute residuals, which are the actual observed values subtracted from
          | the predicted values. If a model fits well, the residuals should visually
          | not exhibit any kind of pattern, and should appear as random noise.
        p(style='margin-left:40;margin-top:50;margin-right:50')
          | It is useful to visualize the residuals vs. the predicted values and also
          | vs. all of the other variables in the data to look for patterns. In all of
          | these plots, the residuals should vary randomly around zero.
        

    .row(style='margin-top:50')
      .col-md-10
        #scatterplotmatrix2


