.container-fluid
  .row
    .col-md-12
      .problems
        h4 Problems
        #problemdropdown

  .row
    .col-md-6
      h4 Description
      .description

    .col-md-6
      h4 Metadata
      .metadata
