
.container-fluid
  .row
    .col-md-3
      .problems
        h4 Problems
        p(style="margin-top:50;margin-left:40:marging-right:50")  
          | Please select from the list of problems available to explore through this
          | interface.  
        #problemdropdown

    .col-md-6
      h4 Problem Information
      p(style="margin-top:50;margin-left:40:marging-right:50")  
          | After a description of the selected problem is  displayed.  Then
          | you can continue to explore the data features of this problem by selecting
          | the Features tab at the top of the page. 
      .description
