.container-fluid
  .row
    .col-md-12
      .problems
        h4 Problem Description
        p(style='margin-left:40;margin-top:50;margin-right:50')
          | Some problems came with a description. If there was a description associated with this problem,
          | it will be displayed below.  After reviewing the description, please begin to explore the variables
          | associated with the problem in the next tab.


  .row
    .col-md-6
      h4 Description
      .description

    .col-md-6
      h4 Features
      .metadata
