.container-fluid
  .row
    .col-md-2
      .problems
        h4 Problems
        #problems
          span.dropdown
            button.problems.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Select a problem
            ul.dropdown-menu.problems

    .col-md-6
      h4 Problem Information
      .description
