.container-fluid
  .row
    .col-md-12
      .problems
        h4 Stopping
        p(style='margin-left:40;margin-top:50;margin-right:50')
          |Please click below to stop the TA3 system and end this working session.  
          |Thank you for trying out the Purdue ModSquad TA3 system.
       

  .row
    .col-md-3
    button.btn.btn-default.stopButton(onclick='stopProcess()') Stop the TA3
