.container-fluid
  .row
    .col-md-12
      h4 TA2 Models
      .container-fluid
        .row
          .col-md-12
            .btn-toolbar
              .ta2-models

              .btn-group.ta2-params.hidden
                .ta2-predictor
                .ta2-response

              button.btn.btn-default.train(disabled="disabled").hidden.disabled Train

  .row
    .col-md-12
      h4 Pipelines
      #pipelines.panel-group(role="tablist" aria-multiselectable="true")
        .panel.panel-default
