.container-fluid
  .row
    .col-md-12
      h4 TA2 Models
      .container-fluid
        .row
          .col-md-12
            .btn-toolbar
              .ta2-models
              button.btn.btn-default.train.hidden Train

  .row
    .col-md-12
      h4 Pipelines
      #pipelines.panel-group(role="tablist" aria-multiselectable="true")
        .panel.panel-default
