.container-fluid
  .row
    .col-md-3
      h4 TA2 Models
      .container-fluid
        .row
          .col-md-12
            .ta2-models

        .row
          .col-md-12
            .ta2-vars.btn-group
              .ta2-predictor
              .ta2-response

      #models.panel-group(role="tablist" aria-multiselectable="true")
        .panel.panel-default
