.container-fluid
  .row
    .col-md-12
      .original-variables
        #vars.panel-group(role="tablist" aria-multiselectable="true")
          .panel.panel-default

    .col-md-5.hidden
      .derived-variables
        h4 Derived variables
        #logvars.panel-group(role="tablist" aria-multiselectable="true")
          .panel.panel-default
