.container-fluid
 .row
      .col-md-10
        h4 Features in this Problem
        p(style='margin-left:40;margin-top:50;margin-right:50')
          | This dataset has a number of describing attributes or "features". Each one takes
          | on multiple values, and may or may not be related to the values of
          | of other features.  First, lets look at each feature individually.

        p(style='margin-left:40;margin-top:50;margin-right:50')
          | For each feature, we examine the range of values it takes on using two different kinds
          | of plots.  First, a histogram shows how often the feature value falls within a set of
          | ranges.  This plot gives insight on the "distribution" of the feature's values.

        p(style='margin-left:40;margin-top:50;margin-right:50')
          | The second plot is called a "normal probability plot". If the values of the feature follow
          | a bell-shaped (or normal) distribution, the plot for this variable will be a straigth line.


  .row
    .col-md-10
      .original-variables
        #vars.panel-group(role="tablist" aria-multiselectable="true")
          .panel.panel-default

    .col-md-5.hidden
      .derived-variables
        h4 Derived variables
        #logvars.panel-group(role="tablist" aria-multiselectable="true")
          .panel.panel-default

    .row
    .col-md-10
      .target-variable
        #vars.panel-group(role="tablist" aria-multiselectable="true")
          .panel.panel-default
