.container-fluid
  .welcome
    .row
      .col-md-10
        h4 Welcome to the D3M Purdue Data Exploration and Model Management Environment
        p(style='margin-left:40;margin-top:50;margin-right:50')
          | This environment allows you to explore a variety of problems
          | by examining the data associated with the problem, invoking an automated solver
          | to attempt a solution and, finally, reviewing the
          | quality of the automated solution.

    .row(style='margin-top:150')
      .col-md-10
        p(style='margin-left:40;margin-top:50;margin-right:50')
          | When you are ready to begin, click on the next tab along the top
          | top of this form.
