nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar")
      a.navbar-brand Modeling

    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false")
          ul.dropdown-menu(role="menu")

.container-fluid
  .row
    .col-md-3
      h4.original-variables Original variables
      #vars.panel-group(role="tablist" aria-multiselectable="true")
        .panel.panel-default

    .col-md-3
      h4.derived-variables Derived variables
      #logvars.panel-group(role="tablist" aria-multiselectable="true")
        .panel.panel-default

    .col-md-6
      h4.linear-modeling Linear modeling
      #linmodel.linear-modeling
        span.dropdown
          button.var1.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Variable 1
          ul.dropdown-menu.variable1
            li: a(href="#") one
            li: a(href="#") two

        span.dropdown
          button.var2.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Variable 2
          ul.dropdown-menu.variable2
            li: a(href="#") three
            li: a(href="#") four
