nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar")
      a.navbar-brand ModSquad

ul.nav.nav-tabs
  li.active: a(href="#welcome" data-toggle="tab" aria-expanded="true") Welcome
  //li: a(href="#problems" data-toggle="tab" aria-expanded="true") Problems
  li: a(href="#variables" data-toggle="tab" aria-expanded="true") Variables
  li: a(href="#exploratory-vis" data-toggle="tab" aria-expanded="true") Exploratory Vis
  li: a(href="#ta2" data-toggle="tab" aria-expanded="true") Model Discovery (TA2)
  li: a(href="#post-ta2-vis" data-toggle="tab" aria-expanded="true") Model Output Vis
  //-li: a(href="#modeling" data-toggle="tab" aria-expanded="true") Modeling
  li: a(href="#stopping" data-toggle="tab" aria-expanded="true") Quit

.tab-content
  #welcome.tab-pane.fade.active.in
    include template/welcome.jade

  //#problems.tab-pane.fade.in
  //  include template/problems.jade

  #variables.tab-pane.fade.in
    include template/variables.jade

  #exploratory-vis.tab-pane.fade.in
    include template/exploratory-vis.jade

  #ta2.tab-pane.fade.in
    include template/ta2.jade

  //-#modeling.tab-pane.fade.in
    //-include template/modeling.jade

  #post-ta2-vis.tab-pane.fade.in
    include template/post-ta2-vis.jade

  #stopping.tab-pane.fade.in
    include template/stopping.jade
